body {
  margin: 0;
  padding: 0;
  min-width: 100vw; min-height: 100vh;
  box-sizing: border-box;

  font-family: 'Segoe UI';
  background: radial-gradient(circle, rgb(37, 0, 52) 33%, rgb(119, 50, 0), rgb(37, 0, 52));
  color: white;
}
