#main-div {
    position: absolute;
    top: 50%; left: 50%;
    min-width: 450px; min-height: 600px;
    /* important, read below */
    
    transform: translate(-50%, -50%);
    border-radius: 15px;
    /* background-color: darkblue; */
}

/*+ Interesting NOTE - If the parent isn't given any dimensions but it's origin is at the center by t-translate, child element will still be position correctly if it also shifts it's origin. */
/*+ cont: Top and Left of child are then rendered meaningless. Ofcourse both parent and the child have to be 'positioned'  */

/*? What seems to be happening is that if there is no dimensions of the absolutely positioned parent, the child element cannot displace itself using top-left but t-translate works because it depends on the child itself */
/*? cont: from top-left to center (so parent's supposed center and child's center do align) and the it's the content of the child which makes it grow in size from it's origin which is the center. */
/*! The child cannot be absolutely positioned elsewhere on the parent element since there is no place for it to do so */
/*! The child element grows because ""overflow"" is by default allowed */

/* Main Form Div =============================================================================================================================================================================================================== */
#form-box {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    min-width: 450px; min-height: 600px;

    padding: 20px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255, 0.075);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    border-right: 1px solid rgb(255, 255, 255, 0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
    
    backdrop-filter: blur(1.5px);
    font-size: 20px;
    transition: .25s;
}

#form-box:hover {
    background-color: rgba(255, 255, 255, 0.025);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.35);
}

/* Contents of Form Div =============================================================================================================================================================================================================== */
#form-box div {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#form-box label {
    margin-bottom: 5px;
}

input::placeholder {
    color: rgb(170, 170, 170);
}

#form-box .textinput {
    width: 100%;
    padding: 5px 10px;
    border-radius: 20%;
    
    border: none;
    outline: none;   /* Only seen when the box is active */
    background-color: transparent;
    border-bottom: 2px solid hsl(267, 80%, 75%);
    
    font-size: 18px;
    color: white;
    
    transition: .5s;
}

#form-box .textinput:focus {
    border-bottom: 2px solid lightseagreen;
}

#form-box .textinput-error:focus {
    border-bottom: 2px solid gold;
}

#form-box .textinput-success:focus {
    border-bottom: 2px solid chartreuse;
}

#form-box .text-radio-pair {
    position: relative;
    margin-bottom: 0;
    flex-direction: row;
}

.eyecon {
    position: absolute;
    width: 30px; height: 30px;
    top: 50%; left: 90%;
    transform: translateY(-55%);
    filter: invert();
}

/* Content of Form Div-Error messages =============================================================================================================================================================================================================== */
#form-box .errmessage-inactive {
    display: none;
}

#form-box .errmessage-active {
    display: block;
    margin-top: -25px;
    font-size: 16px;
    font-weight: 500;
    color: goldenrod;
}

/* Button of Form Div =============================================================================================================================================================================================================== */
#form-box .submit-button {
    position: relative;
    width: 160px; height: 55px;
    margin-top: 30px;
    
    font-size: 1.2rem;
    border-radius: 20px;
    border: none;
}

#form-box .btn-disabled {
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
    transition: .5s;
}

#form-box .btn-disabled::after {
    content: 'Invalid inputs present';
    white-space: pre;

    display: block;
    position: absolute;
    top: 0; left: 50%;
    transform: translateX(-50%) translateY(0px);

    color: #ff5f5f;
    font-size: 1rem;
    font-weight: 600;
    opacity: 0;

    transition: transform 0.5s ease-out, opacity 0.2s ease-out;
}

#form-box .btn-disabled:hover {
    box-shadow: 0 0 5px 2px #ff5f5f;
}

#form-box .btn-disabled:hover::after {
    transition: transform 0.5s ease-out, opacity 0.2s ease-out;
    transition-delay: 0s, 0.2s;
    opacity: 1;
    transform: translateX(-50%) translateY(65px);
}

#form-box .btn-enabled {
    background-color: rgba(240, 240, 240, 0.9);
    color: black;
    transition: box-shadow .5s ease-out;
}

#form-box .btn-enabled:hover {
    transition: box-shadow .5s ease-out;
    box-shadow: 0 0 5px 4px #3ded97;
}

/* The Floating Transparent(tp) Squares =============================================================================================================================================================================================================== */
#main-div .tpsquare {
    position: absolute;

    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.075);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    border-right: 1px solid rgb(255, 255, 255, 0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    
    backdrop-filter: blur(1.5px);
    animation: animate 7s linear infinite;
    animation-delay: calc(-2s * var(--i));
}

@keyframes animate {
    0%, 100% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
}

#main-div .tpsquare:nth-child(1) {
    width: 100px; height: 100px;
    top: -10%; left: 85%;
    z-index: 2;
}

#main-div .tpsquare:nth-child(2) {
    width: 80px; height: 80px;
    top: 95%; left: -7.5%;
    z-index: 2;
}

#main-div .tpsquare:nth-child(3) {
    width: 50px; height: 50px;
    top: 95%; left: 95%;
}

#main-div .tpsquare:nth-child(4) {
    width: 60px; height: 60px;
    top: -7.5%; left: -7.5%;
}